

.header1 {
    padding:10px 15px; 
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid black;
}
.header1 .title1 {
    font-size: 1.25rem; 
    font-weight: bold;

}

.header1 .close-button{
    cursor:pointer; 
    border:none; 
    outline:none; 
    background:none; 
    font-size: 1.25rem; 
    font-weight: bold;
    
}

.body1{
    padding:10px 15px;
}
